@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    font-family: "Inter";
}

@font-face {
    font-family: 'Inter';
    src: url('../public/fonts/Inter.ttf') format("truetype-variations");
    font-weight: 1 999;
}

@font-face {
    font-family: "Jetbrains Mono";
    src: url('../public/fonts/JetBrainsMono_Complete/Fonts/Variable/JetBrainsMono-Variable.ttf');
    font-weight: 1 999;
}

.svg svg {
    color: white;
}

::-webkit-scrollbar {
    width: 4px;
}

/* Track */
::-webkit-scrollbar-track {
    border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #374151;
    border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #c1c1c1; 
}

html {
    background-color: #000;
    overflow: hidden;
}