@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    font-family: "Inter";
}

@font-face {
    font-family: 'Inter';
    src: url('../public/fonts/Inter.ttf') format("truetype-variations");
    font-weight: 1 999;
}

.svg svg {
    color: white;
}